@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: white;
    color: #2a2a2a;
    font-family:Poppins;
}

.App{
    width: 25%;
    display: flex;
    flex-direction: column;
    row-gap:2%;
    margin-top: 8%;
    margin-left: 34%;
    box-shadow:#b7a8e1 27px -27px 44px, #e799bc -27px 27px 44px;
    border-radius: 22px;
    padding: 3%;
    align-items: center;

}

.App h1{
    font-size: xx-large;
}

.buttons{
    display: flex;
    flex-direction: row;
    column-gap: 7%;

}

.buttons button{
    width: 5vw;
    height: 9vh;
    background-color: #2a2a2a;
    color: white;
    font-size: x-large;
    text-align: center;
}

.App input{
    height: 7vh;
    width: 79%;
    border: 2px solid black;
    outline: none;
    font-size: x-large;
    color: black;
    font-weight: 600;
}

.App input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.8; /* Firefox */
  }

.success{
    margin-top: 5%;
    color: blue;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
}

.error{
    margin-top: 5%;
    color: red;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;

}