@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: white;
    color: #2a2a2a;
    font-family:Poppins;
}


.App{
    width:20%;
    display: flex;
    flex-direction: column;
    row-gap:2%;
    margin-top: 15%;
    margin-left: 40%;
    box-shadow: #eca2c1 0px 4px 16px, #b3baf1 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    border-radius: ;

}

.App h1{
    font-size: x-large;
}

.buttons{
    display: flex;
    flex-direction: row;
    column-gap: 2%;

}

.buttons button{
    width :18vw ;
}

